 <!-- Footer Section -->
 <footer id="footer">
  <div class="container">
    <h3>BlogStreet</h3>
    <div class="copyright">
      &copy; Copyright <strong><span>BlogStreet</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed and Developed by <a>Pratik</a> & <a>Abhik</a>.
    </div>
  </div>
</footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"
  ></script>
</body>
</html>